.idea

outputs
data/MILES_SSP_SAFE
data/cluster_results
data/fits_shortlist
outdated/MILES_SSP
data/stacked_fits
data/regression_results
scripts/__pycache__
data
notebooks/.DS_Store
.DS_Store

outputs/ppxf_fits
outputs/sfh_plots
outputs/stacked_catalogues
data/INSPIRE_SPEC